.r {
    background-color: rgba(0, 0, 0, 0.5) !important;
 }

 .s {
    background-color: rgba(241, 165, 65, 0.57) !important;
 }
 .t {
    background-color: rgb(207, 207, 24) !important;
    
 }
 .f {
    background-color: rgb(64, 82, 67) !important;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.2);
 }
 .sdw{
    box-shadow: 8px 10px rgb(0, 0, 0, 0.3);
 }
